# Aplicaci√≥n de Matrices de Peso Dataset Iris

In [1]:
import math
import numpy as np
import seaborn as sns

In [2]:
# Matiz de pesos - 1ra. capa oculta 
W1 = np.array([[-11.1748319, -4.5150650],
               [-0.4654855, -2.2704661],
               [-1.7005848, -2.3903595],
               [1.5206968, -0.3420183],
               [6.7468801, 17.6404260]])

In [3]:
# Matriz de pesos - 2da. capa oculta
W2 = np.array([[-21.52552, -0.474833291, 0.2953232],
               [207.00106, 0.014451654, -2236.3341613],
               [-98.04627, -0.003655978, -2032.0868855]])

In [4]:
# Matriz de pesos - Capa de salida
W3 = np.array([[0.171512903, 0.5493555, -0.319841222],
               [0.001036253, -1.0047469,  1.000563875],
               [-0.447472705,  1.1779593,  0.830992962],
               [1.745015000, -1.7467434,  0.002055533]])

In [28]:
def f_act(X):
    activada = np.array([1/(1+np.exp(-x)) for x in X], dtype=np.float64)
    return activada

# Carga de datos

In [6]:
iris = sns.load_dataset('iris')

In [7]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
xcols = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
especie = iris['species'].unique()
especie

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [9]:
X = iris[xcols].copy()
X.insert(0, 'bias', 1)
X.head()

   bias  sepal_length  sepal_width  petal_length  petal_width
0     1           5.1          3.5           1.4          0.2
1     1           4.9          3.0           1.4          0.2
2     1           4.7          3.2           1.3          0.2
3     1           4.6          3.1           1.5          0.2
4     1           5.0          3.6           1.4          0.2

## Prediccion

In [29]:
prediccion = []
for index, fila in X.iterrows():
    capa1 = f_act(fila.dot(W1))
    capa1 = np.insert(capa1, 0, 1)
    capa2 = f_act(capa1.dot(W2))
    capa2 = np.insert(capa2, 0, 1)
    salida = f_act(capa2.dot(W3))
    prediccion.append(especie[np.argmax(salida)])

C:\Users\lisaj\AppData\Local\Temp\ipykernel_21196\4048770834.py:2: RuntimeWarning: overflow encountered in exp
  activada = np.array([1/(1+np.exp(-x)) for x in X], dtype=np.float64)

In [30]:
prediccion

['setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica']

In [31]:
iris['Prediccion'] = prediccion
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species Prediccion
0           5.1          3.5           1.4          0.2  setosa     setosa
1           4.9          3.0           1.4          0.2  setosa     setosa
2           4.7          3.2           1.3          0.2  setosa     setosa
3           4.6          3.1           1.5          0.2  setosa     setosa
4           5.0          3.6           1.4          0.2  setosa     setosa

In [32]:
iris.iloc()

# Predicciones erroneas

In [34]:
errores = iris[iris['species'] != iris['Prediccion']]
errores

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species, Prediccion]
Index: []

In [35]:
eficiencia = (1 - len(errores) / len(iris) * 100)
eficiencia

1.0